:root {
    --primary-color: #ffd1a9; /* 부드러운 오렌지 톤 */
    --secondary-color: #ffe8a1; /* 연한 노란색 */
    --accent-color: #f18383; /* 밝은 파스텔 핑크 */
    --text-color: #666666; /* 연한 회색 */
    --background-color: #fffaf0; /* 부드러운 크림색 */
  }

.apps {
    background: linear-gradient(to bottom, var(--background-color), var(--primary-color));
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
    color: var(--text-color);
    background-image: src('./img/back.png');
}

.back{
    display: flex;
    position: absolute;

}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 70px;
}
  
.logo {
    display: flex;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    font-family: 'GloriaHallelujah';
    cursor: pointer;
}

.navBox{
    margin: 0 auto;
    background-color: var(--accent-color);
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 30px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 13px;
}
  
nav a {
    color: var(--background-color);
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: -100px;
}

.containerBox {
    display: flex;
    align-items: center;
    width: 100%;
}

.mainText {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex: 1;
}

.sun{
    display: flex;
    position: fixed;
    width: 2%;
    left: 16%;
    margin-left: 5px;
}

.text{
    margin: 0 auto;
    
}

.text p{
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Karla';
}

.logo1 {
    margin-bottom: 20px;
    text-align: center;
}

.logo1 img {
    max-width: 100%;
    height: auto;
}

.btn1 {
  background-color: #FFA500;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.1s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
  width: 100%;
}

.btn1:hover{
    background-color: #FF8C00;
}

.btn1:active{
    transform: scale(0.98);
}
.arrow{
    margin-left: 8px;
    font-size: 12px;
}

.camBox {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoWrapper {
    width: 100%;
    max-width: 600px;
}

.video {
    width: 100%;
    height: auto;
}

.countdownOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    font-weight: bold;
    z-index: 10;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    pointer-events: none;
}

.modalBox{
    border-radius: 40px;
}

.modalContent {
    background: var(--primary-color);
    border-radius: 5px;
    color: white;
}

.modalTitle {
    display: flex;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.imagePreview {
    text-align: center;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

.capturedImage {
    max-width: 100%;
    border-radius: 10px;
}

.emotionResult {
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    color: var(--text-color);
  }
  
.mainEmotion {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
  
.otherEmotions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.emotionItem {
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    flex: 1 1 40%;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.closeBtn, .saveBtn {
    background-color: white;
    border: none;
    color: #ff9f00;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
    transition: all 0.3s ease;
    flex: 1;
    margin: 0 10px;
}

.closeBtn:hover, .saveBtn:hover {
    background-color: #ff9f00;
}

.modalContent ul {
    list-style-type: none;
    padding: 0;
}


/* 원형 게이지 스타일 */
.progressCircle {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 20px auto;
}

.progressCircle svg {
    position: relative;
    width: 140px;
    height: 140px;
    transform: rotate(-90deg);
}

.progressCircle circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 20;
    stroke: var(--primary-color);
    cx: 70;
    cy: 70;
    r: 60;
    stroke-dasharray: 377;
    stroke-dashoffset: 0;
}

.progressCircle circle:nth-child(2) {
    stroke: white; /* 게이지 색상 */
    stroke-linecap: round;
    stroke-dashoffset: 377; /* 초기 상태에서 가려진 상태 */
    transition: stroke-dashoffset 1s ease; /* 애니메이션 */
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
}